<p>To use the applciation, please do the following:</p>
<ol>
  <li>Open <a href="https://sandbox.hspconsortium.org/" target="_blank">HSPC DSTU2 Sandbox: https://sandbox.hspconsortium.org/</a></li>
  <li>Login, or if you do not yet have an account create a new account. The Demo account does not allow launching of custom applications.
    <img class="img-responsive img-rounded" src="images/hspc_login.png">
  </li>
  <li>Create a new "launch scenario" to open the desired application from the desired context with the desired patient. Select "As Practitioner":
    <img class="img-responsive img-rounded" src="images/create_new_launch_scenario.png">
  </li>
  <li>Select desired practitioner such as "Demo Demo MD":
    <img class="img-responsive img-rounded" src="images/select_desired_practitioner.png">
  </li>
  <li>Select desired pediatric patient (under age 19), then click "Select this Patient" on the right:
    <img class="img-responsive img-rounded" src="images/patient_selection.png">
  </li>
  <li>In "Custom App" at the bottom right, select the App ID field and type "bmi6300_antimicrobial"
     and in the Launch URL field, type "http://cds-magiclantern.rhcloud.com/launch.html" Then click
      "Custom App" to launch the application.
    <img class="img-responsive img-rounded" src="images/application_launch.png">
  </li>
  <li>A save dialog appears - saving the launch scenario is recommended if going to use this applicaiton again. If you don't want to save, just click 'Launch'
    <img class="img-responsive img-rounded" src="images/save_application_launch.png">
  </li>
  <li>If you did save, you will be brought back to the begining and need to select the desired scenario and then click "Luanch" at the bottom right.
    <img class="img-responsive img-rounded" src="images/final_launch.png">
  </li>
</ol>

{{yield}}
