<p>The overprescribing of antibiotics is a broad collection of issues that cannot
  be solved easily at once. In order to quickly provide a measurable solution to
  the problem we propose to create a limited scope Clinical Decision Support
  system (CDSS) to make antibiotic recommendations for pediatric patients for
  acute otitis media (AOM) and streptococcal pharyngitis.</p>
<p>This prototype system will provide antibiotic recommendations for pediatric
  populations. The recommendation will include which antibiotic(s)
  to prescribe, dosage, and length of treatment based on patient specific
  values.</p>
<p>Technologies employed:</p>
<ul>
  <li>EmberJS</li>
  <li>Bootstrap</li>
  <li>Font Awesome</li>
  <li>SMART on FHIR</li>
</ul>
<p>Proposed topic and research developed by:</p>
<ul>
  <li>Jeremy Gleed</li>
  <li>Nicholas Link</li>
  <li>Sashi Poudel</li>
  <li>Jace Richards</li>
  <li>Seth Russell</li>
</ul>


  {{outlet}}
