{{aom-modal}}

{{strep-modal}}

<form class="form-horizontal">

  <div class="form-group">
    <label for="condition_datetime" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-5">
      <input type="datetime" class="form-control" placeholder="Now">
    </div>
  </div>

  <div class="form-group">
    <label for="condition_diagnosis" class="col-sm-2 control-label">Primary Diagnosis</label>
    <div class="col-sm-5">
      <select class="form-control" id="condition_diagnosis" {{action "fire_cds" on="change"}}>
        <option value=""> - Select Diagnosis - </option>
        <option value="3110003">Acute Otitis Media</option>
        <option value="65363002">Otitis Media</option>
        <option value="43878008">Streptococcal Pharyngitis</option>
        <option value="1532007">Viral pharyngitis</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="condition_notes" class="col-sm-2 control-label">Clinical Note</label>
    <div class="col-sm-10">
      <textarea id="condition_notes" class="form-control" rows="3" placeholder="Enter Notes here."></textarea>
    </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="reset" class="btn btn-danger">Reset Form</button>
      </div>
      <div class="col-sm-3 pull-right">
        <button type="submit" class="btn btn-success">Sign &amp; Submit</button>
      </div>
  </div>

</form>


{{outlet}}
