<div class="container">
  <div class="row">
    <div class="col-md-6 border">
      <div class="row zeroborder">
      <h3>Patient Information</h3>
      <dl class="dl-horizontal zeroborder">
        <dt>Name</dt>
        <dd>Patrick Smith</dd>
        <dt>Age</dt>
        <dd>57</dd>
        <dt>Sex</dt>
        <dd>Male</dd>
        <dt>Address</dt>
        <dd>123 Place Lane, USA</dd>
      </dl>
    </div>
    <div class="row patientinfobutton">
      <button class="btn btn-default pull-right" data-toggle="modal" data-target="#aboutModal">Modify</button>
    </div>
    <div class="row zeroborder">
      <p class="lead">Recent Vitals</p>
      <dl class="dl-horizontal zeroborder">
        <dt>Weight</dt>
        <dd>81.64 kg <span>Today</span></dd>
        <dt>Blood Pressure</dt>
        <dd>130/80 mmHg <span>Today</span></dd>
        <dt>Heart Rate</dt>
        <dd>85 bpm <span>Today</span></dd>
      </dl>
    </div>
  </div>
    <div class="col-md-6 border">
      <h3>Reason for current visit</h3>
      <p>Followup for pneumonia.</p>
      <p class="lead">Recent Patient Notes</p>
      <p><strong>Sept 1, 2015</strong> - Pat was admitted to Local Area Regional Hospital due to severe bacterial pneumonia. Due to complications with pneumonia and health conditions...</p>
      <p><strong>Aug 1, 2015</strong> - Pat visited due to increasingly severe migraines. Prescribed additional medication to help alleviate pain</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 border">
      <button class="btn btn-default pull-right" data-toggle="modal" data-target="#aboutModal">Review</button>
    </div>
    <div class="col-md-6 border">
      <button class="btn btn-default pull-right" data-toggle="modal" data-target="#aboutModal">Modify</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Problem List</h3>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Medications</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-a">
      <span>Hypertensive disorder
        <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="38341003" data-mainsearchcriteria_v_dn="Hypertensive disorder">
          <em>i</em>
        </div>
      </span>
    </div>
    <div class="col-md-1 bg-infolight-a">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-5 bg-infolight-a">
      <p><strong>Lisinopril</strong> 40 MG Oral Tablet</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-a">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-1 bg-infolight-a">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-5 bg-infolight-a">
      <p><strong>Diltiazem Hydrochloride</strong> 180 MG Extended Release Oral Tablet</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-b">
      <span>Transformed migraine
        <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="427419006" data-mainsearchcriteria_v_dn="Transformed migraine">
          <em>i</em>
        </div>
      </span>
    </div>
    <div class="col-md-1 bg-infolight-b">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-5 bg-infolight-b">
      <p><strong>Divalproex</strong> Sodium 300 MG</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-a">
      <span>Hypercholesterolemia
        <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="13644009" data-mainsearchcriteria_v_dn="Hypercholesterolemia">
          <em>i</em>
        </div>
      </span>
    </div>
    <div class="col-md-1 bg-infolight-a">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-5 bg-infolight-a">
      <p><strong>Simvastatin</strong> 40 MG [Zocor]</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <p class="lead">Non-Chronic</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-b">
      <span>Bacterial pneumonia
        <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="53084003" data-mainsearchcriteria_v_dn="Bacterial pneumonia">
          <em>i</em>
        </div>
      </span>
    </div>
    <div class="col-md-1 bg-infolight-b">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-5 bg-infolight-b">
      <p><strong>Levofloxacin</strong> 500 MG Oral Tablet</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-default pull-right topspacing" data-toggle="modal" data-target="#aboutModal">Modify</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default pull-right topspacing" data-toggle="modal" data-target="#aboutModal">Modify</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Lab Results</h3>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Allergies</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-a">
      <span>
        <strong>Triglycerides, Serum or Plasma</strong> 72 <span class="faded">Aug 12, 2015</span>
        <div class="labbutton pull-right hidden" data-mainsearchcriteria_v_c="2571-8" data-mainsearchcriteria_v_dn="Triglycerides, Serum or Plasma">
          <em>i</em>
        </div>
      </span>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-b">
      <p><strong>Penicillin</strong> Severe; anaphylactic reaction </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 bg-infolight-b">
      <span>
        <strong>Stat Gram Stain</strong> +1 - click review for more details <span class="faded">Yesterday</span>
        <div class="labbutton pull-right hidden" data-mainsearchcriteria_v_c="664-3" data-mainsearchcriteria_v_dn="Stat Gram Stain">
          <em>i</em>
        </div>
      </span>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-default pull-right topspacing" data-toggle="modal" data-target="#aboutModal">Review</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default pull-right topspacing" data-toggle="modal" data-target="#aboutModal">Modify</button>
    </div>
  </div>
</div>

{{outlet}}
